.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111827; 
    padding: 15px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 55px;  
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .navbar-logo h1 {
    color: #EAB308; 
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .navbar-links a {
    color: #F9FAFB; 
    text-decoration: none;
    font-weight: 600;
    margin: 0 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-links a:hover {
    color: #EAB308; 
  }

  /* Responsive Styles */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: #003366;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 12px 0;
  }
}

  